@import url(base.css);
@import url(layout.css);
@import url(components.css);
@import url(header.css);
@import url(footer.css);
@import url("/assets/css/components/dish-card.css");
@import url("/assets/css/components/category-card.css");
@import url("/assets/css/components/review-card.css");
@import url("/assets/css/components/button.css");
@import url("/assets/css/components/dots-navigation.css");

