@import url(base.css);
@import url(layout.css);
@import url(components.css);
@import url(header.css);
@import url(footer.css);
@import url("components/dish-card.css");
@import url("components/category-card.css");
@import url("components/review-card.css");
@import url("components/button.css");
@import url("components/dots-navigation.css");
@import url("components/input-field.css");
@import url("components/links.css");