@import url(base.css);
@import url(layout.css);
@import url(header.css);
@import url(footer.css);
@import url("components/dish-card.css");
@import url("components/category-card.css");
@import url("components/review-card.css");
@import url("components/button.css");
@import url("components/dots-navigation.css");
@import url("components/input-field.css");
@import url("components/links.css");
@import url("components/dish-detail-modal.css");
@import url("components/check-reservation-modal.css");
@import url("components/preorder-after-reservation-modal.css");
@import url("components/kitchen-detail-modal.css");